apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}
spec:
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      containers:
      - image: {{ image }}
        name: {{ name }}
        args:
        - "--ignore-db-dir=lost+found"
        env:
        - name: MYSQL_ROOT_PASSWORD # так делать не нужно, тут лучше secret
          value: {{ password }}
        - name: MYSQL_DATABASE
          value: {{ database }}
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: {{ name }}-pvc
          mountPath: /var/lib/mysql
      volumes:
      - name: {{ name }}-pvc
        persistentVolumeClaim:
          claimName: {{ name }}-pvc
